In [1]:
#https://beenje.github.io/blog/posts/parsing-html-tables-in-python-with-pandas/

In [2]:
#import
import pandas as pd

In [2]:
#DATA
html_string = """
<table>
  <thead>
    <tr>
      <th>Programming Language</th>
      <th>Creator</th> 
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>C</td>
      <td>Dennis Ritchie</td> 
      <td>1972</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>Guido Van Rossum</td> 
      <td>1989</td>
    </tr>
    <tr>
      <td>Ruby</td>
      <td>Yukihiro Matsumoto</td> 
      <td>1995</td>
    </tr>
  </tbody>
</table>
"""
#display
from IPython.display import display_html
#display_html(html_string, raw=True)
#display of data frame
dfs = pd.read_html(html_string)

In [53]:
dfs = pd.read_html('http://impexp.oae.go.th/service/export.php?S_YEAR=2554&E_YEAR=2563&PRODUCT_GROUP=5247&PRODUCT_ID=3810&WF_SEARCH=Y',encoding='utf8')

dfs

[            เดือนMonth       25542011                   25552012              \
             เดือนMonth ปริมาณQuantity มูลค่าValue ปริมาณQuantity มูลค่าValue
 0        มกราคมJanuary          90424    10279126         818980    59019977
 1   กุมภาพันธ์February          26936     3756644         979329    69922596
 2          มีนาคมMarch         259066    36954839          47288     8693197
 3          เมษายนApril         146730    19566648          22141     4314523
 4           พฤษภาคมMay          93966    13107767          33937     6347127
 5         มิถุนายนJune          41567     7431120          10462     2176143
 6          กรกฎาคมJuly          36075     6070860          17204     3483395
 7        สิงหาคมAugust            422       63877           2478      573718
 8     กันยายนSeptember          18509     3128354             74       44776
 9        ตุลาคมOctober              7        4320           1636      272495
 10   พฤศจิกายนNovember           3180      587045          32531     5209195
 11     ธันวาคมDecember           2700      700955           3431      715714
 12           รวม/Total         719582   101651555        1969491   160772856

          25562013                   25572014                   25582015  ...  \
    ปริมาณQuantity มูลค่าValue ปริมาณQuantity มูลค่าValue ปริมาณQuantity  ...
 0           37217     7007809           1718      244498           2890  ...
 1           34251     6159774          37132     6049419         128820  ...
 2           39615     6191494          22195     3250316          43541  ...
 3           36240     5520802          37634     6192968          47207  ...
 4           23800     4207750          58184     9351582          33986  ...
 5           22080     3647190          17770     2961378          24040  ...
 6             499      107742          64886     7874340          46167  ...
 7           60702     4446266          72463    12487823          28042  ...
 8           78476     4863990           9348     2091670           1651  ...
 9           15195     2040396          59139     9720352           2237  ...
 10           1199       72336            244      132114          53096  ...
 11          74091     8623557          18613     3099918          38271  ...
 12         423365    52889106         399326    63456378         449948  ...

       25592016       25602017                   25612018              \
    มูลค่าValue ปริมาณQuantity มูลค่าValue ปริมาณQuantity มูลค่าValue
 0      1928133          18855     5280737            425      139024
 1      3594621           7142     1249295          20245     4733558
 2     10282346          48734     6847165          44307     3630918
 3     11521320          22784     4266677         102792    18170739
 4      1107203          40812     7790906          34271     8274788
 5     11548231          25675     5748024         125602    28599748
 6      7901659          63785    14623125          19262     4590952
 7      5487723          11785     2724968          35430     7531789
 8      6586390          11054     2617274           2341      883212
 9      5250778          54630     9362863          40333     8228761
 10     1829285             65       10543           8655     2143378
 11      766404             47       11619          35028     5331441
 12    67804093         305368    60533196         468691    92258308

          25622019                   25632020             มูลค่าเฉลี่ย
    ปริมาณQuantity มูลค่าValue ปริมาณQuantity มูลค่าValue มูลค่าเฉลี่ย
 0            6561     1620704           4016      648434      8656418
 1            8079     2405827          33985     5597224     12289827
 2           21090     2645601          12944     1124770      8787569
 3           67360    13197444           4800      980677      9207356
 4           70568    14190029          24052     5789916      7534610
 5            9848     2202712          73607    13353091      8113759
 6          136867    33036217          32162     6418813      9238647
 7            9092     1713039          70319    18672209      5953440
 8            8045     2470359              0           0      2556394
 9           38753     7970204              0           0      4842269
 10           2291      812165              0           0      2366814
 11           6808     1631144              0           0      3230225
 12         385362    83895445         255885    52585134     82777327

 [13 rows x 22 columns]]

In [54]:
len(dfs)

1

In [55]:
df = dfs[0]
df.head()

           เดือนMonth       25542011                   25552012              \
           เดือนMonth ปริมาณQuantity มูลค่าValue ปริมาณQuantity มูลค่าValue
0       มกราคมJanuary          90424    10279126         818980    59019977
1  กุมภาพันธ์February          26936     3756644         979329    69922596
2         มีนาคมMarch         259066    36954839          47288     8693197
3         เมษายนApril         146730    19566648          22141     4314523
4          พฤษภาคมMay          93966    13107767          33937     6347127

        25562013                   25572014                   25582015  ...  \
  ปริมาณQuantity มูลค่าValue ปริมาณQuantity มูลค่าValue ปริมาณQuantity  ...
0          37217     7007809           1718      244498           2890  ...
1          34251     6159774          37132     6049419         128820  ...
2          39615     6191494          22195     3250316          43541  ...
3          36240     5520802          37634     6192968          47207  ...
4          23800     4207750          58184     9351582          33986  ...

     25592016       25602017                   25612018              \
  มูลค่าValue ปริมาณQuantity มูลค่าValue ปริมาณQuantity มูลค่าValue
0     1928133          18855     5280737            425      139024
1     3594621           7142     1249295          20245     4733558
2    10282346          48734     6847165          44307     3630918
3    11521320          22784     4266677         102792    18170739
4     1107203          40812     7790906          34271     8274788

        25622019                   25632020             มูลค่าเฉลี่ย
  ปริมาณQuantity มูลค่าValue ปริมาณQuantity มูลค่าValue มูลค่าเฉลี่ย
0           6561     1620704           4016      648434      8656418
1           8079     2405827          33985     5597224     12289827
2          21090     2645601          12944     1124770      8787569
3          67360    13197444           4800      980677      9207356
4          70568    14190029          24052     5789916      7534610

[5 rows x 22 columns]

In [56]:
js = df.to_json(orient="columns",force_ascii=False)
#js

In [57]:
pd.read_json(js)

,"('เดือนMonth', 'เดือนMonth')","('25542011', 'ปริมาณQuantity')","('25542011', 'มูลค่าValue')","('25552012', 'ปริมาณQuantity')","('25552012', 'มูลค่าValue')","('25562013', 'ปริมาณQuantity')","('25562013', 'มูลค่าValue')","('25572014', 'ปริมาณQuantity')","('25572014', 'มูลค่าValue')","('25582015', 'ปริมาณQuantity')",...,"('25592016', 'มูลค่าValue')","('25602017', 'ปริมาณQuantity')","('25602017', 'มูลค่าValue')","('25612018', 'ปริมาณQuantity')","('25612018', 'มูลค่าValue')","('25622019', 'ปริมาณQuantity')","('25622019', 'มูลค่าValue')","('25632020', 'ปริมาณQuantity')","('25632020', 'มูลค่าValue')","('มูลค่าเฉลี่ย', 'มูลค่าเฉลี่ย')"
0,มกราคมJanuary,90424,10279126,818980,59019977,37217,7007809,1718,244498,2890,...,1928133,18855,5280737,425,139024,6561,1620704,4016,648434,8656418
1,กุมภาพันธ์February,26936,3756644,979329,69922596,34251,6159774,37132,6049419,128820,...,3594621,7142,1249295,20245,4733558,8079,2405827,33985,5597224,12289827
2,มีนาคมMarch,259066,36954839,47288,8693197,39615,6191494,22195,3250316,43541,...,10282346,48734,6847165,44307,3630918,21090,2645601,12944,1124770,8787569
3,เมษายนApril,146730,19566648,22141,4314523,36240,5520802,37634,6192968,47207,...,11521320,22784,4266677,102792,18170739,67360,13197444,4800,980677,9207356
4,พฤษภาคมMay,93966,13107767,33937,6347127,23800,4207750,58184,9351582,33986,...,1107203,40812,7790906,34271,8274788,70568,14190029,24052,5789916,7534610
5,มิถุนายนJune,41567,7431120,10462,2176143,22080,3647190,17770,2961378,24040,...,11548231,25675,5748024,125602,28599748,9848,2202712,73607,13353091,8113759
6,กรกฎาคมJuly,36075,6070860,17204,3483395,499,107742,64886,7874340,46167,...,7901659,63785,14623125,19262,4590952,136867,33036217,32162,6418813,9238647
7,สิงหาคมAugust,422,63877,2478,573718,60702,4446266,72463,12487823,28042,...,5487723,11785,2724968,35430,7531789,9092,1713039,70319,18672209,5953440
8,กันยายนSeptember,18509,3128354,74,44776,78476,4863990,9348,2091670,1651,...,6586390,11054,2617274,2341,883212,8045,2470359,0,0,2556394
9,ตุลาคมOctober,7,4320,1636,272495,15195,2040396,59139,9720352,2237,...,5250778,54630,9362863,40333,8228761,38753,7970204,0,0,4842269
10,พฤศจิกายนNovember,3180,587045,32531,5209195,1199,72336,244,132114,53096,...,1829285,65,10543,8655,2143378,2291,812165,0,0,2366814
11,ธันวาคมDecember,2700,700955,3431,715714,74091,8623557,18613,3099918,38271,...,766404,47,11619,35028,5331441,6808,1631144,0,0,3230225
12,รวม/Total,719582,101651555,1969491,160772856,423365,52889106,399326,63456378,449948,...,67804093,305368,60533196,468691,92258308,385362,83895445,255885,52585134,82777327

In [58]:
df.columns

MultiIndex([(  'เดือนMonth',     'เดือนMonth'),
            (    '25542011', 'ปริมาณQuantity'),
            (    '25542011',    'มูลค่าValue'),
            (    '25552012', 'ปริมาณQuantity'),
            (    '25552012',    'มูลค่าValue'),
            (    '25562013', 'ปริมาณQuantity'),
            (    '25562013',    'มูลค่าValue'),
            (    '25572014', 'ปริมาณQuantity'),
            (    '25572014',    'มูลค่าValue'),
            (    '25582015', 'ปริมาณQuantity'),
            (    '25582015',    'มูลค่าValue'),
            (    '25592016', 'ปริมาณQuantity'),
            (    '25592016',    'มูลค่าValue'),
            (    '25602017', 'ปริมาณQuantity'),
            (    '25602017',    'มูลค่าValue'),
            (    '25612018', 'ปริมาณQuantity'),
            (    '25612018',    'มูลค่าValue'),
            (    '25622019', 'ปริมาณQuantity'),
            (    '25622019',    'มูลค่าValue'),
            (    '25632020', 'ปริมาณQuantity'),
            (    '25632020',    'มูลค่าValue'),
            ('มูลค่าเฉลี่ย',   'มูลค่าเฉลี่ย')],
           )

In [59]:
data = { }
for label, content in df.iteritems(): 
    
    print(label)
    print(content) 
    print()

('เดือนMonth', 'เดือนMonth')
0          มกราคมJanuary
1     กุมภาพันธ์February
2            มีนาคมMarch
3            เมษายนApril
4             พฤษภาคมMay
5           มิถุนายนJune
6            กรกฎาคมJuly
7          สิงหาคมAugust
8       กันยายนSeptember
9          ตุลาคมOctober
10     พฤศจิกายนNovember
11       ธันวาคมDecember
12             รวม/Total
Name: (เดือนMonth, เดือนMonth), dtype: object

('25542011', 'ปริมาณQuantity')
0      90424
1      26936
2     259066
3     146730
4      93966
5      41567
6      36075
7        422
8      18509
9          7
10      3180
11      2700
12    719582
Name: (25542011, ปริมาณQuantity), dtype: int64

('25542011', 'มูลค่าValue')
0      10279126
1       3756644
2      36954839
3      19566648
4      13107767
5       7431120
6       6070860
7         63877
8       3128354
9          4320
10       587045
11       700955
12    101651555
Name: (25542011, มูลค่าValue), dtype: int64

('25552012', 'ปริมาณQuantity')
0      818980
1      979329
2       47288
3       22141
4       33937
5       10462
6       17204
7        2478
8          74
9        1636
10      32531
11       3431
12    1969491
Name: (25552012, ปริมาณQuantity), dtype: int64

('25552012', 'มูลค่าValue')
0      59019977
1      69922596
2       8693197
3       4314523
4       6347127
5       2176143
6       3483395
7        573718
8         44776
9        272495
10      5209195
11       715714
12    160772856
Name: (25552012, มูลค่าValue), dtype: int64

('25562013', 'ปริมาณQuantity')
0      37217
1      34251
2      39615
3      36240
4      23800
5      22080
6        499
7      60702
8      78476
9      15195
10      1199
11     74091
12    423365
Name: (25562013, ปริมาณQuantity), dtype: int64

('25562013', 'มูลค่าValue')
0      7007809
1      6159774
2      6191494
3      5520802
4      4207750
5      3647190
6       107742
7      4446266
8      4863990
9      2040396
10       72336
11     8623557
12    52889106
Name: (25562013, มูลค่าValue), dtype: int64

('25572014', 'ปริมาณQuantity')
0       1718
1      37132
2      22195
3      37634
4      58184
5      17770
6      64886
7      72463
8       9348
9      59139
10       244
11     18613
12    399326
Name: (25572014, ปริมาณQuantity), dtype: int64

('25572014', 'มูลค่าValue')
0       244498
1      6049419
2      3250316
3      6192968
4      9351582
5      2961378
6      7874340
7     12487823
8      2091670
9      9720352
10      132114
11     3099918
12    63456378
Name: (25572014, มูลค่าValue), dtype: int64

('25582015', 'ปริมาณQuantity')
0       2890
1     128820
2      43541
3      47207
4      33986
5      24040
6      46167
7      28042
8       1651
9       2237
10     53096
11     38271
12    449948
Name: (25582015, ปริมาณQuantity), dtype: int64

('25582015', 'มูลค่าValue')
0       395738
1     19429311
2      8255044
3      8341757
4      5179028
5      3469957
6      8279363
7      5832986
8       321522
9       730252
10    10505262
11     8191277
12    78931497
Name: (25582015, มูลค่าValue), dtype: int64

('25592016', 'ปริมาณQuantity')
0       8310
1      19546
2      55998
3      75391
4       5719
5      44045
6      37307
7      21271
8      34231
9      19703
10      7013
11      5124
12    333658
Name: (25592016, ปริมาณQuantity), dtype: int64

('25592016', 'มูลค่าValue')
0      1928133
1      3594621
2     10282346
3     11521320
4      1107203
5     11548231
6      7901659
7      5487723
8      6586390
9      5250778
10     1829285
11      766404
12    67804093
Name: (25592016, มูลค่าValue), dtype: int64

('25602017', 'ปริมาณQuantity')
0      18855
1       7142
2      48734
3      22784
4      40812
5      25675
6      63785
7      11785
8      11054
9      54630
10        65
11        47
12    305368
Name: (25602017, ปริมาณQuantity), dtype: int64

('25602017', 'มูลค่าValue')
0      5280737
1      1249295
2      6847165
3      4266677
4      7790906
5      5748024
6     14623125
7      2724968
8      2617274
9      9362863
10       10543
11       11619
12    60533196
Name: (25602017, มูลค่าValue), dtype: int64

('25612018', 'ปริมาณQuantity')
0        425
1      20245
2      44307
3     102792
4      34271
5     125602
6      19262
7      35430
8       2341
9      40333
10      8655
11     35028
12    468691
Name: (25612018, ปริมาณQuantity), dtype: int64

('25612018', 'มูลค่าValue')
0       139024
1      4733558
2      3630918
3     18170739
4      8274788
5     28599748
6      4590952
7      7531789
8       883212
9      8228761
10     2143378
11     5331441
12    92258308
Name: (25612018, มูลค่าValue), dtype: int64

('25622019', 'ปริมาณQuantity')
0       6561
1       8079
2      21090
3      67360
4      70568
5       9848
6     136867
7       9092
8       8045
9      38753
10      2291
11      6808
12    385362
Name: (25622019, ปริมาณQuantity), dtype: int64

('25622019', 'มูลค่าValue')
0      1620704
1      2405827
2      2645601
3     13197444
4     14190029
5      2202712
6     33036217
7      1713039
8      2470359
9      7970204
10      812165
11     1631144
12    83895445
Name: (25622019, มูลค่าValue), dtype: int64

('25632020', 'ปริมาณQuantity')
0       4016
1      33985
2      12944
3       4800
4      24052
5      73607
6      32162
7      70319
8          0
9          0
10         0
11         0
12    255885
Name: (25632020, ปริมาณQuantity), dtype: int64

('25632020', 'มูลค่าValue')
0       648434
1      5597224
2      1124770
3       980677
4      5789916
5     13353091
6      6418813
7     18672209
8            0
9            0
10           0
11           0
12    52585134
Name: (25632020, มูลค่าValue), dtype: int64

('มูลค่าเฉลี่ย', 'มูลค่าเฉลี่ย')
0      8656418
1     12289827
2      8787569
3      9207356
4      7534610
5      8113759
6      9238647
7      5953440
8      2556394
9      4842269
10     2366814
11     3230225
12    82777327
Name: (มูลค่าเฉลี่ย, มูลค่าเฉลี่ย), dtype: int64

In [62]:
df.columns

MultiIndex([(  'เดือนMonth',     'เดือนMonth'),
            (    '25542011', 'ปริมาณQuantity'),
            (    '25542011',    'มูลค่าValue'),
            (    '25552012', 'ปริมาณQuantity'),
            (    '25552012',    'มูลค่าValue'),
            (    '25562013', 'ปริมาณQuantity'),
            (    '25562013',    'มูลค่าValue'),
            (    '25572014', 'ปริมาณQuantity'),
            (    '25572014',    'มูลค่าValue'),
            (    '25582015', 'ปริมาณQuantity'),
            (    '25582015',    'มูลค่าValue'),
            (    '25592016', 'ปริมาณQuantity'),
            (    '25592016',    'มูลค่าValue'),
            (    '25602017', 'ปริมาณQuantity'),
            (    '25602017',    'มูลค่าValue'),
            (    '25612018', 'ปริมาณQuantity'),
            (    '25612018',    'มูลค่าValue'),
            (    '25622019', 'ปริมาณQuantity'),
            (    '25622019',    'มูลค่าValue'),
            (    '25632020', 'ปริมาณQuantity'),
            (    '25632020',    'มูลค่าValue'),
            ('มูลค่าเฉลี่ย',   'มูลค่าเฉลี่ย')],
           )

In [68]:
df.loc[:,'25542011']

    ปริมาณQuantity  มูลค่าValue
0            90424     10279126
1            26936      3756644
2           259066     36954839
3           146730     19566648
4            93966     13107767
5            41567      7431120
6            36075      6070860
7              422        63877
8            18509      3128354
9                7         4320
10            3180       587045
11            2700       700955
12          719582    101651555

In [82]:
df.columns.get_loc('25632020')

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True,  True, False])

In [ ]:
get_loc('b')